*{
    margin: 0;
}
main{
    background: #f1faee;
    padding: 20px 0px;
    height: 100vh;
}
section{
    background: #a8dadc;
    margin: 0 auto;
    border-radius: 50px;
    height: 100%;
    max-height: 700px;
    min-height: 300px;
    width: 80%;
    max-width: 1440px;
    padding: 70px 100px;
}
.screen{
    margin: 0 auto;
    height: 800px;
    width: 100%;
    overflow: hidden;
}
.slider{
    display: flex;
    width: 500%;
    height: 80%;
}
.slide{
    height: 100%;
    width: 20%;
    background: wheat;
    transition: 0.5s ease;
}
.dots{
    display: flex;
    justify-content: flex-end;
}
.dot{
    width: 30px;
    height: 30px;
    border: 9px solid #a8dadc;
    background-color: #1d3557;
    margin: 10px 0px 10px 10px;
    cursor: pointer;
    transition: 0.2s linear;
}
.dot:hover{
    background: #257b9d;
}
.dot:active{
    transition: 0.05s;
    background: #f1faee;
}
input{
    display: none;
}
#t1:checked ~ .slider .s1{
    margin-left: 0;
}
#t2:checked ~ .slider .s1{
    margin-left: -20%;
}
#t3:checked ~ .slider .s1{
    margin-left: -40%;
}
#t4:checked ~ .slider .s1{
    margin-left: -60%;
}
#t5:checked ~ .slider .s1{
    margin-left: -80%;
}
#t1:checked ~ .dots .dot:first-child{
    background-color: #e63946;
}
#t2:checked ~ .dots .dot:nth-of-type(2){
    background-color: #e63946;
}
#t3:checked ~ .dots .dot:nth-of-type(3){
    background-color: #e63946;
}
#t4:checked ~ .dots .dot:nth-of-type(4){
    background-color: #e63946;
}
#t5:checked ~ .dots .dot:last-child{
    background-color: #e63946;
}
